body{
    background-color: #c9e3eb;
}

header h1{
    font-family: 'Margarine';
    font-weight: 600;
    font-size: 37px;
    text-align: center;
    padding-top: 15px;
    margin-left:8%;
    margin-right:8%;
}

nav{
    font-family: 'Margarine';
    font-weight: 600;
    font-size: 16px;
    color: #dae9f4;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    word-spacing: 200px;
    background-color:#557bb8;
    margin:0%;
    border-radius: 25px;
}

nav a{
    transition: 0.4s;
}

nav a:hover{
    opacity: 80%;
    font-size: 20px;
}

section h2{
    font-family: 'Margarine';
    font-weight: 600;
    font-size: 37px;
    text-align: center;
    padding-top: 15px;
    margin-left:8%;
    margin-right:8%;
}

section p{
    margin-left:15%;
    margin-right:15%;
    text-align: center;
}

section a{
    font-weight: bold;
    font-family: 'Rock Salt';
    color:#557bb8;
    font-size: 25px;
    text-align: center;
  }

img{
    display: block;
    width: 750px;
    height: auto;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#etc{
    text-decoration: dotted underline;
    color: #1e4281;
    font: 'Margarine';
}

#etctwo{
    text-decoration: none;
    color:#dae9f4;
}

#etcthree{
    text-decoration: none;
    color:#557bb8;
    transition: 0.4s;
}

#etcthree:hover{
    opacity: 80%;
    font-size: 28px;
}

#me{
    width: 500px;
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#abtme{
    font-size: 22px;
}

#namegif{
    box-shadow: none;
    width: 480px;

}

.flexcontainerOne{
    display: inline-flex;
  }
  
  .wrapperOne{
    margin: 5px 90px 60px 90px;
  }

  .wrapperTwo{
    margin: 5px 60px 20px 40px;
  }

  li{
    text-align: center;
    color:#557bb8;
    font-size: 30px;
    font-family: 'Rock Salt';
}

ol{
    list-style-position: inside;
    text-align: center;
  }

ul{
    text-align: center;
    list-style-position: inside;
  }

footer{
    background-color: #557bb8;
    color:#dae9f4;
    font-family: 'Margarine';
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
    border-radius: 25px;
    word-spacing: 30px;
}

#footer-links{
    text-decoration: none;
    color:#dae9f4;
    font-size: 15px;
    transition: 0.4s;
}

#footer-links:hover{
    opacity: 80%;
    font-size: 20px;
}


/* ----------------------------------- */


#imgfives img{
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
    width: 370px;
  }

  .column{
    background-color: rgb(158, 190, 215);
    border-radius: 50%;
    margin: 30px 40px;
  }

  .imgfives-flexcontainer{
    display: inline-flex;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 49px;
  }

  .container-wrapperOne{
    width: 50%;
  }

  .container-wrapperTwo{
    width: 50%;
  }

  .imgfives-flexcontainerTwo{
    display: inline-flex;
    margin-right: 50px;
  }

  .container-wrapperThree{
    width: 50%;
  }

  .container-wrapperFour{
    width: 50%;
  }

  /* ----------------------------------- */


  .imgfives-flexcontainerThree{
    display: inline-flex;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 40px;
  }

  .container-wrapperFive{
    width: 50%;
  }

  .container-wrapperSix{
    width: 50%;
  }

  .imgfives-flexcontainerFour{
    display: inline-flex;
    margin-right: 50px;
  }

  .container-wrapperSeven{
    width: 50%;
    margin-left: 50px;
  }

  .container-wrapperEight{
    width: 50%;
  }

  /* ----------------------------------- */

  #imgfives:hover{
    opacity: 87%;
    background-color: darkblue;
    width: 410px;
  }

  #singular{
    margin-right: 50px;
  }